/.idea
/Virtual_Environment/FastApi_SQLite_Ver/.idea
/Virtual_Environment/FastApi_SQLite_Ver/app/routers/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/app/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/__pycache__
