/.idea
/Virtual_Environment/FastApi_SQLite_Ver/.idea
/Virtual_Environment/FastApi_SQLite_Ver/app/routers/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/app/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/artifact.db
/Virtual_Environment/FastApi_Redis_Ver/.idea
/Virtual_Environment/FastApi_Redis_Ver/app/routers/__pycache__
/Virtual_Environment/FastApi_Redis_Ver/app/__pycache__
/Virtual_Environment/FastApi_Redis_Ver/__pycache__
