/.idea
/Virtual_Environment/FastApi_SQLite_Ver/.idea
/Virtual_Environment/FastApi_SQLite_Ver/app/routers/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/app/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/__pycache__
/Virtual_Environment/FastApi_SQLite_Ver/artifact.db
/Virtual_Environment/FastApi_Redis_Ver/.idea
/Virtual_Environment/FastApi_Redis_Ver/app/routers/__pycache__
/Virtual_Environment/FastApi_Redis_Ver/app/__pycache__
/Virtual_Environment/FastApi_Redis_Ver/__pycache__
Virtual_Environment/FastApi_SQLite_Ver/artifact.db
/Virtual_Environment/FastApi_Redis_Ver/app/routers/backend/__pycache__
Virtual_Environment/test_main.http
/A1_Agent/.idea
/A1_Agent/.env
/A2_Agent/.env
/A2_Agent/agent/__pycache__
/A2_Agent/agent/agents_description/__pycache__

__pycache__/
*.pyc